@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.headerr{
    background-image: linear-gradient(to top, #00000079 0%, #0000006e 100%), url(../imagenes/Mesa\ de\ madera\ en\ desenfoque\ de\ fondo\ del\ restaurante\ moderno\ _\ Foto\ Premium.jpeg);
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}

.barra{
    background-image: linear-gradient(to top, #272727a4 0%, #27272796 100%);
    padding: 30px;
    width: 100%;
    height: 80px;
}

.barra li{
    display: inline-block;
    background-color: orange;
    padding: 5px;
    border-radius: 10px;
    margin: 0 60px;
}

.barra li a{
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;

}


/*PRESENTACION*/


.carilla{
    width: 400px;
    background-color: rgb(255, 255, 255);
    margin: 50px auto 20px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: #000000 4px;
}

.contenedor__titulo__form{
    text-align: center;
    padding: 20px 10px;
}
.titulo__form{
    font-family: 'Bebas Neue', sans-serif;
    color: #1c2023;
    font-weight: 400;
    font-size: 2rem;
}


.contenedor__campos__form{
    padding: 10px;
}

.contenedor__campos__internos{
    padding: 10px;
    padding-left: 40px;
    
}

.campo__form{
    width: 300px;
    height: 150px;
    padding: 5px;
    border: 1px solid #1c2023 ;
    font-size: 14px;
}

.campo__form:focus{
    outline: none;
    border: 1px solid #006bbd;
}

.contenedor__boton__form{
    padding: 10px;
    padding-left: 50px;

}

.contenedor__boton__form2{
    padding: 10px;
    padding-left: 50px;
    margin-bottom: 20px;
}
.boton__form{
    width: 300px;
    height: 40px;
    font-size: 20px;
    background-color: #1c2023;
    color: #ffffff;
    font-weight: 400;
    font-family: 'Bebas Neue', sans-serif;
    border-radius: 8px;
    cursor: pointer;

}






/*footer*/
.footer{
    background-color: #1c2023;
    width: 100%;
    height: 300px;
}

.subtitulo{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    color: #1c2023;
    padding: 20px;
    text-align: center;
    background-color: orange;
    font-size: 3rem;
}

.redes{
    padding: 20px;

}
.subtitulo__redes{
    text-align: center;
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    font-weight: 400;

}    


.listaredes{
    text-align: center;
}
.listaredes a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', sans-serif;

}