@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif ;
}

.contenedor-nav-primaria{
    height: 100px;
}

.boton-nav{
    display: none;
}

.logo-nav{
    width: 200px;
    height: auto;
}

.login-nav{
    color: #1a0e03;
}

@media(max-width: 440px){
    .text-nav{
        font-size: 12px;
    }
    .logo-nav{
        width: 150px;
    }
}

@media(max-width: 350px){

    .text-nav{
        display: none;
    }

    .boton-nav{
        display: block;
    }

    .item-nav{
        font-size: 12px;
    }
}

.contenedor-nav-secundaria{
    height: 40px;
}

.nav-secundaria{
    list-style-type: none; /* Remueve los bullets */
    padding-left: 0; /* Remueve el padding */
    margin: 0;
}

.item-nav{
    list-style: none;
}
.item-nav a{
    text-decoration: none;
    color: #1a0e03;
}

.carilla{
    background-image: linear-gradient(to top, #00000083 0%, #00000088 100%), url(../img/amirali-mirhashemian-jh5XyK4Rr3Y-unsplash.jpg);
    height: 60vh;
    background-position: center;
    background-size: cover;
}

.titulo{
    font-weight: 800;
}

.subtitulo{
    width: 100%;
    background-image: url(../img/menu-subtitulo-normal.png);
    background-size: cover;
    background-position: center;
    margin: 5% 0px;
    height: 200px;
}
@media(max-width: 500px){
    .subtitulo{
        background-image: url(../img/menu-subtitulo-responsive.png);
        height: 150px;
        margin: 0px 0px;
        
    }
}

.contenedor-opciones{
    height: 300px;
}

.fila-opciones{
    height: 100%;
}

.caja{
    padding: 5px;
    grid-gap: 1px;
    border-right:1px solid #fff ;
}
.caja:hover{
    transform: scale(1.05);
}

.contenedor-titulo-icon{
    margin-top: 10px;
}

.logo-grid{
    font-size: 50px;
    color: #1a0e03;
}

.titulo-icon{
    color: #1a0e03;
    text-decoration: none;
    text-decoration-line: none;
    font-size: 20px;
    font-weight: 600;
}

.titulo-icon a{
    text-decoration: none;
}

@media(max-width:575px){
    .caja{border-bottom: 1px solid #fff;}
    .logo-grid{
        font-size: 30px;
    }
    .titulo-icon{
        font-size: 14px;
    }
}


/*footer*/

.pie-pagina{
    background-color:#002c53;

}