/*===========================================================================================================
-----------------------------| E N C A B E Z A D O     P R I N C I P A L |-----------------------------------
=============================================================================================================
*/

.carilla {
    background-image: linear-gradient(to top, #00000083 0%, #00000088 100%), url(../img/amirali-mirhashemian-jh5XyK4Rr3Y-unsplash.jpg);
    height: 60vh;
    background-position: center;
    background-size: cover;
  }
  
  .titulo {
    font-weight: 800;
  }
  
  .boton-oferta:hover {
    background-image: linear-gradient(to top, #00000033 0%, #00000031 100%);
  }
  