/*===========================================================================================================
---------------------------------------------| F O O T E R |-------------------------------------------------
=============================================================================================================
*/

.logo-redes:hover, .politica-li:hover {
    transform: scale(1.1);
  }
  
  .pie-pagina {
    background-color: #002c53;
  }
  
  .boton-app:hover {
    background-image: linear-gradient(to top, #00000033 0%, #00000031 100%);
  }
  