/*===========================================================================================================
-------------------------------------------| N A V   P R I M A R I A |---------------------------------------
=============================================================================================================
*/

.contenedor-nav-primaria {
    height: 100px;
  }
  
  .boton-nav {
    display: none;
  }
  
  .logo-nav {
    width: 200px;
    height: auto;
  }
  
  .login-nav {
    color: #1a0e03;
  
    &:hover {
      background-image: linear-gradient(to top, #00000033 0%, #00000031 100%);
    }
  }
  