
/*===========================================================================================================
---------------------------------| C O N T E N E D O R    R E S E N A |--------------------------------------
=============================================================================================================
*/

.contenedor-resena {
    height: 90vh;
  }
  
  .resena {
    width: 80%;
    height: 90%;
    background-color: #ffffff;
    border: 1px solid #ffbc0d;
  }
  
  .titulo-resena {
    color: #002c53;
    font-weight: 600;
  }
  
  .formularios {
    border: 1px solid #ffbc0d;
  }
  