/*===========================================================================================================
-----------------------------------------| S U B T I T U L O     M E N U |-----------------------------------------------
=============================================================================================================
*/

.subtitulo {
    width: 100%;
    background-image: url(../img/menu-subtitulo-normal.png);
    background-size: cover;
    background-position: center;
    margin: 5% 0px;
    height: 200px;
  }
  
/*===========================================================================================================
-----------------------------------------| S U B T I T U L O     I N D E X |-----------------------------------------------
=============================================================================================================
*/

.subtitulo-index {
    width: 100%;
    background-image: url(../img/imgsubtitulo2.png);
    background-size: cover;
    background-position: center;
    margin: 5% 0px;
    height: 200px;
  }
  